<script>

    /* jshint esversion: 6 */
    
    document.addEventListener('DOMContentLoaded', function () {
        // Increase the quantity
        document.querySelectorAll('.increment-qty').forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                const itemId = this.getAttribute('data-item_id');
                const inputField = document.getElementById(`id_qty_${itemId}`);
                let currentQuantity = parseInt(inputField.value);
                
                if (currentQuantity < 99) {
                    inputField.value = currentQuantity + 1;
                }
            });
        });

        // Decrease the quantity
        document.querySelectorAll('.decrement-qty').forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                const itemId = this.getAttribute('data-item_id');
                const inputField = document.getElementById(`id_qty_${itemId}`);
                let currentQuantity = parseInt(inputField.value);

                if (currentQuantity > 1) {
                    inputField.value = currentQuantity - 1;
                }
            });
        });
    });
</script>
