{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="text-main mb-4">Thank You!</h2>
                <hr>
                <p class="text-main">Your order details are below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Order Number: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.order_number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Order Date: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.date}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 text-main font-weight-bold ">Order Number: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 text-main">{{order.order_number}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mt-4">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="small mb-0 text-main font-weight-bold ">
                                    {% if item.tea %}
                                        {{ item.tea.product_name }} (Tea)
                                    {% elif item.equipment %}
                                        {{ item.equipment.product_name }} (Equipment)
                                    {% elif item.kit %}
                                        {{ item.kit.product_name }} (Kit)
                                    {% else %}
                                        Unknown Product
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="small mb-0 text-main">
                                    {{ item.quantity }} @ £{{ item.lineitem_total|floatformat:2 }} each
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col mt-4">
                            <small class="text-muted">Delivery To:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Full Name: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.full_name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Address1: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.street_address1}}</p>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Address2: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.street_address2}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Town or City: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.town_or_city}}</p>
                        </div>
                    </div>
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">County: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.county}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Country: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.country}}</p>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Postcode: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.postcode}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Phone Number: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">{{order.phone_number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-4">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Order Total: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">£ {{order.order_total}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Delivery: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">£ {{order.delivery_cost}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-main font-weight-bold ">Grand Total: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-main">£ {{order.grand_total}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-lg-7 mt-4">
                <a href="{% url 'products' %}" class="btn-lg rounded py-3 shop-button w-100 text-center">Back to shop</a>
            </div>
        </div>
    </div>
{% endblock %}

