html {
    height: 100%;
}
body {
    font-family: 'Poiret One', sans-serif;
    color: #727272;
    height: calc(100vh - 164px);    
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.logo-font {
}
.main-logo-link {
    width: fit-content;
}
.shop-button {
    background: #727272;
    color: white;
    min-width: 100%;
}
.btn-main {
    background: #727272;
    color: white;
}
.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-main:hover,
.btn-main:active,
.btn-main:focus {
    background: #222;
    color: white;
}
.text-main {
    color: #727272 !important;
}
.border-black {
    border: 1px solid black !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    .header-container {
        padding-top: 164px;
    }
   
/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
   
}
/* Small screens (phones, etc.) */
@media (min-width: 320px) {
    
    #logo {
        font-size: 250%;
    }
    .header-container {
        padding-top: 185px;
    }
}