
html {
    height: 100%;
}
body {
    font-family: 'Quicksand', sans-serif !important;
    height: calc(98vh - 164px);    
}

.nav-row{
    width: 99%;
}


.footer{
    background-color: #727272 !important;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.main-logo-link {
    width: fit-content;
}
.action-button{
    background: #727272;
    color: white;
    min-width: 10%;
}
.shop-button {
    background: #727272;
    color: white;
    min-width: 100%;
}
.btn-main {
    background: #727272;
    color: white;
}
.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-main:hover,
.btn-main:active,
.btn-main:focus {
    background: #222;
    color: white;
    transition: all 0.3s ease;
}
.text-main {
    color: #727272 !important;
}
.update-link,
.remove-item {
    cursor: pointer;
}
/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}
.subscribe-button {
    width: 25%;
    color: #727272 !important;
    background-color: white;
    transition: all 0.3s ease; /* Smooth transition */
}
.subscribe-button:hover {
    background: #222;
    font-style: white;
}
#mc_embed_signup{
    false;
    clear:left; 
    font-family: 'Quicksand', sans-serif !important;
}

/* -------------------------------- Media Queries */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    .header-container{
        margin-top: 150px;
    }
}
   
/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container{
        margin-top: 100px;
    }
}
/* Small screens (phones, etc.) */
@media (min-width: 320px) {
    
    #logo {
        font-size: 250%;
    }
    .header-container{
        margin-top: 170px;
        margin-left: 10px;
    }
}
